<!doctype html>
<html lang="en">
  <head>
    <title>Student Management System </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <h1 style="color:Tomato; text-align: center;">Student Managment System</h1>
    <table>
    </tr>
    <td>
        <form autocomplete="off" onsubmit="onFormSubmit()">
        <div>
        <label>Enter id:</label><br>
        <input type="text" name="Enterid" id="Enterid">
       </div><br>
       <div>
         <label>Enter name:</label><br>
         <input type="text" name="Entername" id="Entername">
        </div><br>
        <div>
         <label>Enter age:</label><br>
         <input type="text" name="age" id="age">
        </div><br>
        <div>
         <label>Enter Address:</label><br>
         <input type="text" name="address" id="address">
        </div><br>
        <div>
         <label>Enter subject:</label><br>
         <input type="text" name="subject" id="subject">
        </div><br>
        <div>
         <label>Enter result:</label><br>
         <input type="text" name="result" id="result">
        </div><br>
        <div class="submitbtn"> 
        <input type="submit" value="Add">
        <input type="reset" value="reset">
        </div>

     </form>
     <td>
         <table class="list" id="studentList">
           <thead>
             <tr>
                 <th>Student ID</th>
                 <th>Student Name</th>
                 <th>Student Age</th>
                 <th>Student Address</th>
                 <th>Student Subject</th>
                 <th>Student Result</th>

                 
             </tr>
            </thead>
            <tbody>

            </tbody> 
         </table>
     </td>
    </td>
    </tr>
</table>
<script type="text/javascript" src="./script.js"></script>
</body>
</html>

